@media(width>1440px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    main {
        width: 256px;
        height: 52px;
    }

    footer {
        width: 256px;
        height: 63px
    }
}