@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #D5E1EF;
    user-select: none;

}

div {
    width: 320px;
    height: 499px;
    background-color: white;
    border-radius: 20px;

}

header {
    background-color: #2C7DFA;
    width: 288px;
    height: 288px;
    margin: 16px;
    border-radius: 10px;

}

img {
    margin: 64px;
}

main {
    width: 256px;
    height: 52px;
    text-align: center;
    margin: 24px 32px 0px 32px;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: #1F2F56;
    line-height: 120%;
}

footer {
    display: flex;
    text-align: center;
    width: 256px;
    height: 63px;
    margin: 16px 32px 0px 32px;
}

p {
    color: #68778D;
    font-size: 15px;
    font-weight: 400;
}